@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);
:root {
    --primary-color: #007bff; /* Primary color */
    --secondary-color: #6c757d; /* Secondary color */
    --background-color: #f8f9fa; /* Background color */
    --text-color: #343a40; /* Text color */
    --accent-color: #ffc107; /* Accent color */
}
h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}
p {
    color: var(--primary-color);
}
.sociallinks {
    text-decoration: none;
}
body {
    max-width: 960px;
    margin: 0 auto;
    padding: 0%;
}
.hero {
    position: relative;
    text-align: start;
}
.hero img {
    display: block;
    width: 200px;
    height: auto;
}
.hero h1 {
    color: white;
    text-align: center;
}
.article {
    position: absolute;
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 20px;
    box-sizing: border-box;
}
.hero article p {
    margin-bottom: 10px;
}
.hero article img {
    float: right; /* Float the image to the right */
    margin-left: 10px; 
}
footer img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}
header {
    margin: 1rem;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 350px;
    height: auto;
}

img {
    margin: 0 0.25rem 0 1rem;
    width: 200px;
    height: auto;
}
h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}
h2 {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;

}

nav { 
    text-align: right;
}
.navigation {
    display: flex;
    list-style: none;
}
.navigation li {
    flex: 1 1 100%;
}
.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: larger;

}
.navigation a:hover {
    color: tomato;
    font-weight: 600;

}
.adventures {
    display: flex;
    justify-content: center;
    align-items: center;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
  
.adventures img {
    max-width: 200px;
    max-height: 100px;
  }
  
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
  .history {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
}
.history img {
    width: 400px;
    height: 300px;

}